html {
  max-width: 100vw !important;
  margin: auto;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 0;
  height: 100vh;
  background-color: #191919;
  font-family: "Roboto", "Gotic century", sans-serif;
  position: relative;
}
body.modal-up {
  overflow-y: hidden;
}

header {
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  padding: 15px 15px;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 2px 0 0.8em rgba(0, 0, 0, 0.9);
}
header nav {
  width: 100%;
}
header nav .nav__items {
  padding-left: 10%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
}
header nav .nav__items li {
  margin-bottom: 16px;
  min-width: 25%;
}
header nav .nav__items li a {
  color: white;
  text-decoration: none;
}
header #navLogo {
  max-width: 25%;
  height: 100%;
  min-width: 90px;
  border-radius: 4px;
}
header #navLogo img {
  max-width: 210px;
  min-width: 90px;
  width: 100%;
  object-fit: cover;
  filter: invert(100%);
}

@media all and (min-width: 767px) {
  header nav .nav__items {
    justify-content: flex-end;
  }
}
@media all and (min-width: 1024px) {
  header #navLogo {
    max-width: 10%;
    min-width: 70px;
  }
}
section {
  padding: 15px 15px;
  margin-bottom: 30px;
  position: relative;
  max-width: 100%;
  z-index: 2;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.loader {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  opacity: 0;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #191919;
  width: 100vw;
  height: 100%;
  z-index: 200;
}
.loader.active {
  opacity: 1;
}
.loader.active .loader__circle--spinner {
  transform: scale(1);
}
.loader .static-message {
  color: #f9f9f9;
  font-size: 22px;
}
.loader .loader__circle--spinner {
  transform: scale(0);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid transparent;
  background-color: transparent;
  font-size: 80px;
  color: #e9e9e9;
  z-index: 20;
}
.loader .loader__circle--spinner i {
  animation: spin 1.3s cubic-bezier(0.71, -0.12, 0.94, 0.59) 0s infinite;
}
.loader .loader__circle--spinner.hide {
  transform: scale(0);
}
.loader .loader__logo {
  position: relative;
}
.loader .loader__logo:before {
  transform: scale(0);
  transition: transform 0.3s 0.3s;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2%;
  top: 100%;
  left: 0;
  z-index: -10;
  border-radius: 10px;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #e50914, 0 0 0.8rem #e50914, 0 0 2.8rem #e50914, inset 0 0 1.3rem #e50914;
}
.loader .loader__logo img {
  min-width: 90px;
  width: 100%;
  object-fit: cover;
  z-index: 15;
  filter: invert(100%);
}
.loader .loader__logo.move:before {
  transform: scale(1);
}

.escalator {
  font-size: 48px;
  opacity: 0;
  color: #191919;
  width: 50px;
  height: 50px;
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 20px;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  z-index: 500;
  border-radius: 10px;
}
.escalator a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 501;
}

.modal {
  width: 100%;
  margin: 0;
  margin-top: 150px;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  transform: scale(1, 0);
  transform-origin: center top;
  transition: transform 0.15s ease-out;
  position: fixed;
  top: 0;
  margin: auto;
  max-width: 100%;
  height: 100vh;
  background-color: rgba(25, 25, 25, 0.6);
  z-index: 100;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal figcaption {
  position: absolute;
  width: 100%;
  bottom: 3px;
  padding: 16px;
  background-color: rgba(25, 25, 25, 0.6);
  color: white;
}
.modal figcaption h2 {
  width: 70%;
  margin: 10px 0;
}
.modal.up {
  transform: scale(1, 1);
}
.modal span {
  font-weight: bold;
  width: auto;
  flex-grow: 2;
  word-wrap: nowrap;
}
.modal .body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto 20px;
  padding: 15px 5px;
  width: auto;
  max-height: 100vh;
  border-radius: 4px;
  background-color: #111111;
  box-shadow: 5px 5px 0.8em rgba(0, 0, 0, 0.9);
}
.modal .body *:not(img) {
  padding: 0 15px;
}
.modal .body img {
  width: 40%;
  max-width: 70vw;
  object-fit: contain;
}
.modal .body .caption {
  position: relative;
  top: 0;
  width: 100%;
  max-width: 50%;
  border-radius: 5px;
  left: 0;
}
.modal .body .caption span {
  padding-left: 0;
}
.modal .body .caption h3 {
  margin: 0;
}
.modal .body .caption h3 span {
  opacity: 0.6;
}
.modal .body .caption p {
  font-size: 14px;
}
.modal .body .infos {
  min-width: 200px;
  margin-top: 2rem;
}
.modal .body .infos ul {
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  width: 100%;
  padding: 0;
}
.modal .body .infos ul li {
  font-size: 12px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5px;
  padding-left: 0;
}
.modal .body .infos ul li.flags {
  align-items: center;
  flex-wrap: wrap;
}
.modal .body .infos ul li.flags:nth-child(1) {
  margin-bottom: 3px;
}
.modal .body .infos ul li.flags .flag {
  border: 1px solid #f9f9f9;
  margin-left: 10px;
  padding: 2px 5px;
  border-radius: 8px;
}

@media all and (max-width: 605px) {
  .modal {
    justify-content: space-between;
  }
  .modal .body {
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    max-height: 100%;
  }
  .modal .body *:not(img) {
    padding: 0 15px;
  }
  .modal .body img {
    width: 100%;
    max-width: 70vw;
    object-fit: contain;
  }
  .modal .body .caption {
    position: relative;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 20%;
    overflow-y: scroll;
    border-radius: 5px;
    left: 0;
  }
  .modal .body .caption span {
    padding-left: 0;
  }
  .modal .body .caption h3 {
    margin: 0;
  }
  .modal .body .caption p {
    font-size: 14px;
    max-height: 20vh;
  }
  .modal .body .infos {
    align-self: flex-start;
  }
  .modal .body .infos {
    min-width: 200px;
  }
  .modal .body .infos ul {
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    width: 100%;
    padding: 0;
  }
  .modal .body .infos ul li {
    font-size: 12px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
    padding-left: 0;
  }
  .modal .body .infos ul li.flags {
    align-items: center;
    flex-wrap: wrap;
  }
  .modal .body .infos ul li.flags:nth-child(1) {
    margin-bottom: 3px;
  }
  .modal .body .infos ul li.flags .flag {
    border: 1px solid #f9f9f9;
    margin-left: 10px;
    padding: 2px 5px;
    border-radius: 8px;
  }
}
@media all and (min-width: 767px) {
  .modal .body {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "img caption" "img infos";
    justify-content: space-evenly;
    justify-items: stretch;
  }
  .modal .body img {
    grid-row: 1/2;
    width: auto;
    height: 100%;
    grid-area: img;
  }
  .modal .body .caption {
    grid-area: caption;
    max-width: 100%;
  }
  .modal .body .caption p {
    overflow-y: scroll;
    max-height: 80%;
  }
  .modal .body .infos {
    grid-column: 2;
    grid-area: infos;
  }
}
@media all and (min-width: 1024px) {
  .modal {
    flex-direction: column;
  }
  .modal .body {
    position: relative;
    height: 70%;
    align-items: center;
  }
  .modal .btn-close {
    position: relative;
  }
}
.btn-close {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
  margin: 2px auto;
  color: #f9f9f9;
  background-color: #00000000;
  text-decoration: none;
  font-size: 64px;
}

.dropdown-trigger {
  position: relative;
  color: #f9f9f9;
}
.dropdown-trigger a {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  height: 18.4px;
  text-align: justify;
}

.dropdown-list {
  transform: scale(1, 0);
  transform-origin: center top;
  transition: transform 0.15s linear;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  width: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px 15px;
  z-index: 10;
  background-color: #191919;
}
.dropdown-list .eye i {
  color: white;
  display: none;
  margin: 10px;
}
.dropdown-list .eye:hover i {
  display: inline;
}
.dropdown-list ul {
  padding: 0;
  list-style-type: none;
  width: auto;
}
.dropdown-list ul li {
  width: auto;
  margin: 3px 0 !important;
  text-align: left;
  padding: 4px 3px;
  border-radius: 5px;
}
.dropdown-list ul li a {
  text-decoration: none;
  width: 100%;
  display: block;
  color: #f9f9f9;
}
.dropdown-list.active {
  max-width: 99vw;
  border-bottom: 1px solid #f9f9f9;
  transform: scale(1);
}

section .film-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(25, 25, 25, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #f9f9f9;
  z-index: 0;
  opacity: 0;
}
section .film-loader.active {
  opacity: 1;
  z-index: 500;
}
section .film-loader.active i {
  animation: spin 1.3s cubic-bezier(0.71, -0.12, 0.94, 0.59) 0s infinite;
}

.most_popular {
  width: 100%;
  margin: 0;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}
.most_popular .most_popular--image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.most_popular figcaption {
  width: auto;
  bottom: 3px;
  padding: 16px;
  background-color: rgba(25, 25, 25, 0.6);
  color: #f9f9f9;
}
.most_popular figcaption h2 {
  width: 70%;
  margin: 10px 0;
}
.most_popular figcaption p {
  width: auto;
}
.most_popular figcaption p.most_popular--description {
  position: relative;
  display: block;
  max-height: 250px;
  overflow: hidden;
}
.most_popular figcaption p.most_popular--description:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(0deg, #191919, transparent);
}
.most_popular figcaption a {
  padding: 8px 8px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  background-color: #e50914;
  box-shadow: 1px 1px 0.8px rgba(0, 0, 0, 0.2);
  border: none;
  text-decoration: none;
  color: #f9f9f9;
  background-color: #e50914;
}
.most_popular figcaption a:active {
  background-color: #83050b;
}

@media all and (min-width: 767px) {
  .most_popular {
    display: flex;
    justify-content: space-around;
  }
  .most_popular .most_popular--image {
    max-width: 60%;
    min-width: 50%;
  }
  .most_popular .most_popular--image img {
    width: 100%;
    object-fit: cover;
  }
  .most_popular figcaption {
    position: relative;
    max-width: 30%;
  }
}
@media all and (min-width: 1024px) {
  .most_popular {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .most_popular .most_popular--image {
    height: 100%;
    width: auto;
  }
  .most_popular .most_popular--image img {
    width: 100%;
    object-fit: contain;
  }
  .most_popular figcaption {
    position: relative;
    width: 80%;
    max-width: 80%;
  }
}
.category {
  color: #ffffff;
  height: auto;
}
.category .scrollable {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: auto;
}
.category .scrollable::-webkit-scrollbar {
  width: 0 !important;
}
.category .scrollable .container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  min-width: 150%;
  height: auto;
}
.category .scroll-arrow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 15px;
}
.category .scroll-arrow-right, .category .scroll-arrow-left {
  position: relative;
  min-width: 100px;
  font-size: 32px;
  transform: scale(1);
  transition: transform 0.3s ease-in;
}
.category .scroll-arrow-right a, .category .scroll-arrow-left a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
}
.category .scroll-arrow-right {
  text-align: right;
  transform-origin: center right;
}
.category .scroll-arrow-right:hover {
  transform: scale(1.2);
}
.category .scroll-arrow-left {
  transform-origin: center left;
}
.category .scroll-arrow-left:hover {
  transform: scale(1.2);
}
.category h2 {
  margin-top: 0;
  margin-bottom: 8px;
  width: auto;
  position: relative;
}
.category h2:after {
  content: "";
  display: block;
  width: 2em;
  height: 5px;
  margin-top: 3px;
  background-color: #e50914;
  border-radius: 5px;
}
.category figure {
  position: relative;
  text-align: center;
  width: 200px;
  height: 100%;
  background-color: #111111;
  padding-top: 5px;
  border-radius: 5px;
  margin: 0;
  margin-right: 10px;
}
.category figure img {
  width: 100%;
  min-width: 200px;
  margin: auto;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.category figure figcaption {
  max-width: 98%;
  padding: 0 8px;
}
.category figure figcaption a, .category figure figcaption .film-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  z-index: 500;
  left: 0;
}
.category figure figcaption .film-loader {
  background: rgba(25, 25, 25, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  z-index: 0;
  opacity: 0;
}
.category figure figcaption .film-loader.active {
  z-index: 500;
  opacity: 1;
}
.category figure figcaption .film-loader.active i {
  animation: spin 1.3s cubic-bezier(0.71, -0.12, 0.94, 0.59) 0s infinite;
}
.category figure figcaption h3 {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  margin: 8px auto;
  text-align: center;
  font-size: 14px;
}

.search form {
  display: flex;
  flex-flow: column nowrap;
  height: 20%;
}
.search form .barItems {
  display: flex;
  flex-wrap: nowrap;
  height: 20%;
}
.search form label {
  width: 100%;
  color: #f9f9f9;
}
.search form input {
  max-width: 70%;
  height: 100%;
  padding: 5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
}
.search form button {
  width: 10%;
  height: 100%;
  padding: 5px;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #f9f9f9;
  background-color: #e50914;
}
.search form button:active {
  background-color: #83050b;
}

@media all and (min-width: 767px) {
  .search form button {
    width: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
