html {
    max-width: 100vw !important;
    margin: auto;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top:0;
    height: 100vh;
    background-color: $grey;
    font-family: "Roboto", "Gotic century", sans-serif;
    // overflow-y: scroll;
    position: relative;

    & .deco {
        position: relative;
        // background-clip: text;
        // -webkit-background-clip: text;
        // color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: $darker-grey;  
        color: white;
        font-size: 64px;
        display: block;
        width: 400px;
        height: 550px;
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Popcorn.svg/639px-Popcorn.svg.png');
    }
}