html {
    width: 100% !important;
    margin: auto;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #1a1a1a;
    font-family: "Roboto", "Gotic century", sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;

    &.modal-up {
        overflow-y: hidden;
    }
}