header {
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    padding: 15px 15px;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 2px 0 0.8em rgba(0, 0, 0, 0.9);
    & nav {
        width: 100%;
        & .nav__items {
            padding-left: 10%;
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            justify-content: space-around;
            list-style-type: none;
            margin: 0;
            & li {
                margin-bottom: 16px;
                min-width: 25%;
                & a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
    & #navLogo {
        max-width: 25%;
        height: 100%;
        min-width: 90px;
        // background-color: $red;
        border-radius: 4px;
        // border: 1px solid white;
        & img {
            max-width: 210px;
            min-width: 90px;
            width: 100%;
            object-fit: cover;
            filter: invert(100%);
        }
    }
}

@media #{$media-m} {
   header {
       & nav .nav__items {
        justify-content: flex-end;
        
    }
   }
}