@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@mixin spinner {
    & i{
        animation: spin 1.3s cubic-bezier(.71,-0.12,.94,.59) 0s infinite;
    }
}