@mixin bigFigure($figcaption_bg_color) {
    width: 100%;
    margin: 0;
    margin-top: 150px;
    position: relative;
    z-index: 2;
    overflow-x: hidden;

    & figcaption {
        position: absolute;
        width: 100%;
        bottom: 3px;
        padding: 16px;
        background-color: $figcaption_bg_color;
        color: white;
        & h2 {
            width: 70%;
            margin: 10px 0;
        }
    }
}