.btn-close {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    text-align: center;
    margin: 2px auto;
    color: $light-grey;
    background-color: #00000000;
    text-decoration: none;
    font-size: 64px;
    
}