.category {
    color: #ffffff;
    height: auto;
    $figure-width: 200px;
    & .scrollable {
        overflow-y: scroll;
        width: 100%;
        height: auto;
        & .container {
            display: flex;
            flex-flow: row nowrap;
            width: $figure-width * 5;
            height: auto;
        }
    }
    & h2 {
        margin-top: 0;
        width: 100%;
    }
    & figure {
        position: relative;
        text-align: center;
        width: $figure-width;
        height: 100%;
        border: 2px solid $dark-grey;
        margin: 0;
        & a {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            top: 0;
            left: 0;
        }

        & img {
            width: auto;
            margin: auto;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
        & figcaption {
            max-width: 98%;
            padding: 0 8px;
            & h3 {
                overflow-x: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: $figure-width;
                font-size: 14px;
                
            }
        }
    }
}