.dropdown-trigger {
   position: relative;
   color: $light-grey;
   & a {
       position: absolute;
       width: 100%;
       top: 0;
       left: 0;
       display: block;
       height: 18.4px;
       text-align: justify;    
   }
}
.dropdown-list {
    transform: scale(1, 0);
    transform-origin: center top;
    transition: transform 0.15s linear;
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 5px 8px;
    z-index: 10;
    background-color: $dark-grey;
    & .eye{
        & i{
            color: white;
            display: none;
            margin: 10px;
        }
        &:hover i{
            display: inline;
        }
    }

    & ul {
        padding: 0;
        list-style-type: none;
        width: auto;

        & li {
            width: auto;
            margin: 3px 0!important;
            text-align: left;
            padding: 4px 3px;
            border-radius: 5px;
            
            & a {
                text-decoration: none;
                width: 100%;
                display: block;
                color: $light-grey;
            }
        }
    }
    &.active {
        max-width: 99vw;
        border-bottom: 1px solid $light-grey;
        transform: scale(1);
    }
}