$square-size: 50px;
.escalator {
    font-size: 48px;
    opacity: 0;
    color: $dark-grey;
    width: $square-size;
    height: $square-size;
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 20px;
    justify-content: center;
    align-items: center;
    background-color: $light-grey;
    z-index: 500;
    border-radius: 10px;
    & a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 501;
    }
}