.search {

    & form {
        display: flex;
        flex-flow: column nowrap;
        height: 20%;

        & .barItems {
            display: flex;
            flex-wrap: nowrap;
            height: 20%;
        }
        & label {
            width: 100%;
            color: $light-grey
        }

        & input {
            max-width: 70%;
            height: 100%;
            padding: 5px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            border: none;
        }
        
        & button {
            width: 10%;
            height: 100%;
            padding: 5px;
            border: none;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            @include btnRed;
        }
    }
}

@media #{$media-m}{
    .search{
        & form{
            & button{
                width: 5%;
            }
        }
    }
}